.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to bottom right, black, purple);
  // background-image: linear-gradient(to bottom right,#e9f6b3, #350035);
}

.content {
  display: flex;
  justify-content: space-between;
  button {
    margin-right: 10px;
  }
}